body{
    margin:0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

/* nav bar */
nav{
    background-color: #059Dc0;
}

#nav ul{
    position: relative;
    list-style:none;
    padding: 0;
    margin: 0;
    text-align: right;
    bottom: 60px;
}

#nav li{
    display: inline-block;
}

#nav a{
    width:100px;
    display:block;
    padding:17px 20px;
    text-transform:uppercase;
    font-weight:bold;
    color: black;
    text-align: center;
}

#nav img{
    margin-left: 8rem;
    margin-top: 3rem;
   
}

#nav h1{
  display: inline;
  margin-left: 8px;
  font-size: 50px;
  color:#D28957;
  text-shadow: 2px 2px 4px black;
}

#imgdiv{
    background-image:url("./images/kike-vega-F2qh3yjz6Jk-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height:40rem;
    position:sticky;
}

#thirddiv h2{
    font-weight:lighter !important;
    background-color: #059Dc0;
    color:white;
    padding: 30px;
    font-size: 50px;
    width:40%;
    font-family: 'Roboto', sans-serif;
    margin-left: 35rem;
    position: relative;
    top:-10rem;
}

#description h2{
    color:#D28957;
    font-family:'Great Vibes', cursive ;
    font-size: 70px;
    width:30%;
    margin-left:44rem;
}


#description p{
    color: #059Dc0;
    text-align: center;
    margin-left: 35rem;
    width:40%;
    font-size:32px;
    font-family: 'Roboto', sans-serif;
}


/* detail div element */
.imgabout{
    display:flex;
    font-size: 30px;
}
.imgabout img{
    width:40%;
    margin-top: 17rem;
    margin-left:5rem;
    border-radius:50px 50px 50px 50px ;
}

.imgabout p{
    color:#059Dc0;
    margin-left: 10rem;
    font-family: 'Roboto', sans-serif;
    width:30%;
    margin-top:23rem;
    height:15rem;
}

.imgabout button{
    height: 3rem;
    width:8%;
    margin-top:42rem;
    margin-right: 19rem;
    background-color: #D28957;
}

.imgabout2{
    display: flex;
    margin-top:13rem;
    margin-left:30rem;
    font-size: 30px;
}
.imgabout2 img{
    width:50%;
    border-radius:50px 50px 50px 50px ;  
}

.imgabout2 p{
    color:#059Dc0;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    width:30%;
    height: 10rem;
}

.imgabout2 button{
    height:3rem;
    width:8%;
    background-color: #D28957; 
    margin-top:25%;
}

/* Footer part*/
#final{
    color:#879F84;
    text-align: center;
    width:45%;
    margin-left:35rem;
    margin-top: 12rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
    font-size: 40px;
}

#updatesdiv{
    background-color: #059Dc0;
    margin-top:7rem;
    color:white;
}

#updatesdiv h2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
}

#updatesdiv form{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-left:45rem;
}

#updatesdiv #email{
    width:25%;
}

#updatesdiv #submit{
    background-color: #879F84;
    color:white;
    font-family: 'Roboto', sans-serif;
}

#updatesdiv h3{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
    font-size:25px;
    margin-left: 55rem;
    padding-bottom: 20px;
}

#footer div{
    margin-left: 5rem;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
    font-size: 20px; 
    display: flex;
    justify-content: space-between;
    width:70%;
}

#footer img{
    display: inline;
    margin-left: 94rem;
}

#footer h1{
    display: inline;
    padding-bottom: 5rem;
    text-shadow: 1px 1px 2px black;
    color:#D28957;
}



/* Question section*/
#questionBox{
   background-color: #059Dc0;
   width:50%;
   margin-left:28rem;
   margin-top: 10rem;
   height:30rem;
   border-radius: 50px 50px 50px 50px;
}

#questionBox h1{
    text-align: center;
     padding-top:5rem;
}

#questionBox .input{
    height:3rem;
    width:40%;
    margin-top:3rem;
    border-radius: 50px 50px 50px 50px;
}

#questionBox label{
    font-size: 22px;
   margin-left: 15rem;

}

#questionBox #submit{
    width:10%;
    margin-left: 10px;
    height:40px;
    border: 2px solid black;
}


/* Workout */
.workoutBox{
    display: grid;
    grid-template-columns: repeat(2,50rem);
    margin-left: 20rem;
}

.workoutBox .pictureBox{
    float: left;
}
.workoutBox .pictureBox .workoutPictures{
    margin: 1.5rem;
}
.workoutBox .wordBox{
  width: 30rem;
  margin: 2rem;
}

.workoutBox .wordBox button{
    margin-bottom: 20rem;
}



/* Nutrition Page*/
#foodBox {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-gap: 1px;
    padding-left:9.5rem;
    padding-top: 6rem;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width:60%;
    margin-top:10rem;
  }

 #foodBox h1{
      font-family: 'Roboto', sans-serif; 
      color: #D28957;
      height:5rem;
      font-size: 50px;
  }
  
  